# Maven build directory
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Java build files
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

# Exception for libs folder
!libs/
!libs/**/*.jar

# VS Code
.vscode/
.history/
*.vsix

# macOS specific files
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# IntelliJ (in case you switch)
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.settings/
.classpath
.project
.factorypath

# Spooned folders
spooned/
**/spooned/
**/spooned/**